body {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2adbd521-1a22-4288-9ba1-013e56867570/d4q83ox-89ba711a-ce2d-4bd8-906e-3369615e2104.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJhZGJkNTIxLTFhMjItNDI4OC05YmExLTAxM2U1Njg2NzU3MFwvZDRxODNveC04OWJhNzExYS1jZTJkLTRiZDgtOTA2ZS0zMzY5NjE1ZTIxMDQuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.JfaijPGBa8Z4IhZXNjX-1y0rMKF21MwVqsdUzCf8_kQ);
}
.jumbotron {
  background-color: #898FF3;
  text-align: center;
  font-family: fantasy;
}

#game {
  display: none;
}

#dead {
  display: none;
}